# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/

# Environment Variables
.env

# Django specific
*.log
db.sqlite3
media/
staticfiles/

# Flask specific
instance/
*.db

# Logs
logs/
*.log

# Temporary files
temp/
tmp/

# Migrations (Generally tracked)
#migrations/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Testing and coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Editors
*.swp
*~

# Additional specific folders
logs/
